.Playlist{
  /* Utilizamos CSS Grid Layout para maquetar las listas */
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-columns: repeat(12,300px);
  grid-gap: 10px ;
  overflow-x: auto;
  overflow-y: hidden;
}

h3{
  
  margin-top: 2px;
}